h1{
	text-align:center;
	color:darkblue;
}
img{
	margin-left:40%;
}
form{
	margin-left:40%;
}
input[type=submit]{
	background-color: lightblue;
	border: 1px solid black;
	height:25px;
}
input[type=email], input[type=password]{
	height:25px;
	font-size:15px;
}
input{
	border-radius: 25px;
}